<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 연습</title>
    <!--스타일-->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="h-container">
        <div class="content-inner">
            <h1 class="logo">
                logo
            </h1>
            <div class="h-sns-menu">sns</div>
            <div class="h-sub-menu">menu</div>

            <div class="ad">
                ad
            </div>
        </div>
    </header>
    <nav class="gnb-container">
        <ul class="content-inner">
            <li><a href="#" title="메뉴1 대메뉴">브랜드 스토리</a></li>
            <li><a href="#" title="메뉴1 대메뉴">새로워진 뚜레쥬르</a></li>
            <li><a href="#" title="메뉴1 대메뉴">제품 안내</a></li>
            <li><a href="#" title="메뉴1 대메뉴">이벤트&멤버십</a></li>
            <li><a href="#" title="메뉴1 대메뉴">뚜레쥬르 앱&온라인 쇼핑몰</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <div class="visual">visual</div>
        <div class="content-inner clearfix">
            <div class="banner-wrapper clearfix">
                <div class="banner-left">
                    <div class="slider-item">
                        slider
                    </div>
                    <div class="delevery">
                        배달 배너
                    </div>
                </div>

                <div class="banner-right">
                    <div class="pick-item">
                        추천 제품
                    </div>
                    <div class="banner-ad">
                        광고 배너
                    </div>
                </div>
            </div>

            <div class="store-wrapper clearfix">
                <div class="local">
                    매장찾기
                </div>
                <div class="event">
                    할인 혜택
                </div>
            </div>

            <div class="borad-wrapper clearfix">
                <div class="franchise">
                    창업
                </div>
                <div class="empoly">
                    채용
                </div>
                <div class="notice">
                    공지
                </div>
            </div>
        </div>
    </main>
</body>

</html>