/*
버튼의 클래스를 구별해서 사이즈마다 다른 값을 출력하도록 해서 다른 스타일을 적용

1. 버튼을 구별할 리스트
2. 각 클래스에 적용될 padding값 지정 small=10px, medium = 20px, large = 30px
3. 각 클래스에 적용될 font-size  small=12px, medium = 14px, large = 16px
4. 각 클래스마다 배경색을 다르게 지정(if문으로 출력)
*/
button {
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 0px;
}

$button-size : 'small',
'medium',
'large';
$padding-size : 10px,
20px,
30px;
$font-size : 12px,
14px,
16px;

@for $i from 1 through length($button-size) {
    $size : nth($button-size, $i);
    $padding : nth($padding-size, $i);
    $font : nth($font-size, $i);

    .btn-#{$size} {
        padding: $padding;
        font-size: $font;
        transition: 300ms;
        opacity: 0.6;
        @if $size == 'small' {
            background-color: lightcoral;
        }
        @else if $size == 'medium' {
            background-color: lightcyan;
        }
        @else if $size == 'large' {
            background-color: lightpink;
        }
        &:hover{
            //scss에서는 &뜻은 현재 선택자를 참조한다
            opacity: 1;
        }

    }
    
}