/*
map 
리스트의 한 종류 list는 값만 들어갈 수 있지만
map은 key 와 value값을 같이 가진다.

$변수명 : 값1,값2,값3....리스트방식
$변수명 :(속성1 : 값1, 속성2:값2.....) 맵 방식


*/
$menu : ('coffee' : brown, 'tea' : green, 'drink': orange);
//map 에서 'coffee' : brown, coffee는 key값 ,brown은 value값이 된다
$menu2 : ('fanta': yellow, 'milk': white);

$menu3 : map-merge($menu, $menu2);
$menu4 : map-remove($menu3, 'coffee','milk');

p{
    background:map-get($menu, 'coffee');
    //map-get : 해당 map에 있는 특정 속성의 값을 출력하는 메서드
    background:map-keys($menu); //map안에 있는 key(속성)을 반환하는 메서드(value는 반환하지 않음)
    background:map-values($menu); //map 안에 있는 모든 value를 반환함 (key는 반환하지 않음)

    background: map-keys($menu3);
    background: map-keys($menu4);
}

$item : (
    'item1':(
        'color':coral,
        'border-width':2px, 
        'background-color':lightcoral
    ),
    'item2':(
        'color':cyan,
        'border-width':1px, 
        'background-color':lightcyan
    ),
    'item3':(
        'color':green,
        'border-width':3px, 
        'background-color':lightgreen
    ),
);

@for $i from 1 through length($item){
    $class : nth(map-keys($item), $i);
    $props : map-get($item, $class);

    .#{$class}{
        color: map-get($props, color);
        border : solid map-get($props, border-width) #333333;
        background: map-get($props, background-color );
    }
}