@charset "UTF-8";
/*
리스트 
여러개의 값을 하나의 변수에 저장하는 방법

문법 : 
$변수명 : 값1, 값2, 값3.....
$변수명 : 값1 값2 값3....
$변수명 : (값1, 값2, 값3...)
*/
p {
  background: 2;
  background: 3;
  background: "orange";
  background: "apple", "melon", "lemon";
  background: "red" "apple", "orange" "orange", "yellow" "lemon";
}

.font-size-10px {
  font-size: 10px;
  line-height: 15px;
}

.font-size-12px {
  font-size: 12px;
  line-height: 18px;
}

.font-size-14px {
  font-size: 14px;
  line-height: 21px;
}

.font-size-16px {
  font-size: 16px;
  line-height: 24px;
}

.font-size-18px {
  font-size: 18px;
  line-height: 27px;
}

.font-size-20px {
  font-size: 20px;
  line-height: 30px;
}

.font-size-22px {
  font-size: 22px;
  line-height: 33px;
}